In [1]:
#11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [3]:
# Import the zoo module
import zoo

# Call the hours function from the zoo module
zoo.hours()

Open 9-5 daily

In [4]:
#11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [5]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [11]:
#16.4 Use the sqlite3 module to create a SQLite database called books.db and a table called books with these fields: title (text), author (text), and year (integer).

In [19]:
import sqlite3

# Connect to the SQLite database. This will create the file if it does not exist
conn = sqlite3.connect('books.db')

# Create a cursor object using the cursor method of the connection
cursor = conn.cursor()

# Create the 'books' table with 'title', 'author', and 'year' fields
cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
)
''')


# Commit the changes
conn.commit()

# Close the connection
conn.close()

In [13]:
#16.6 Select and print the title column from the book table in alphabetical order.

In [21]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('books.db')

# Create a cursor object using the cursor method of the connection
cursor = conn.cursor()

# Select the title column from the book table and order by title
cursor.execute('SELECT title FROM books ORDER BY title')

# Fetch all rows from the executed query
titles = cursor.fetchall()

# Print each title
for title in titles:
    print(title[0])

# Close the connection
conn.close()

In [6]:
#16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [28]:
from sqlalchemy import create_engine
from sqlalchemy.sql import select, text

# Create an engine that connects to the SQLite database
engine = create_engine('sqlite:///books.db')

# Connect to the engine
connection = engine.connect()

# Define the SQL query
query = text("SELECT title FROM books ORDER BY title")

# Execute the query
result = connection.execute(query)

# Print each title
for row in result:
    print(row['title'])

# Close the connection
connection.close()